@model IEnumerable<IdentityWithRedis.Models.SampleObject>
@{
    ViewBag.Title = "Chat";
}

<h2>Chat</h2>

<input type="text" class="form-control" id="msginput" />
<input type="button" id="ainvinBotton" value="submit" />
<input id="senderName" type="hidden" value="@ViewBag.SenderName" />
<input id="receiverName" type="hidden" value="@ViewBag.receiverName" />
<input id="currentLoggedInUser" type="hidden" value="@ViewBag.currentLoggedUserName" />


<hr />
<h3>Message</h3>
<ul id="messageList">
    @foreach(var items in Model)
    {
        <li><strong> @items.senderUName </strong>:   @items.textMsg </li>
    }
</ul>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var chatRef = $.connection.chat;
                   //Display Async Notification comming from user
            chatRef.client.receiveMessage = function (senderName, receiverName, msginput) {
                debugger;
               //which client should see this Notification
               @*var receiverName = @Html.Raw(Json.Encode(Session["UserId"]));*@
                   
                console.log($('#currentLoggedInUser').val());
                var currentLoggedInUser = $('#currentLoggedInUser').val();
                if (receiverName === currentLoggedInUser) {
                    console.log(true);
                     $('#messageList').append('<li><strong>' + senderName
                        + '</strong>: ' + msginput + '</li>');
                }
            };




           var conn = $.connection.hub.start();
            conn.done(function () {
                $('#ainvinBotton').click(function () {
                    var senderName = $('#senderName').val();
                    var receiverName = $('#receiverName').val();
                    var msginput = $('#msginput').val();
                   
                    chatRef.server.sendMessage(senderName, receiverName, msginput).then(function () {
                         $('#messageList').append('<li><strong>' + senderName
                             + '</strong>: ' + msginput + '</li>');
                        // Call ajax to save messages in Redis Database
                        $.ajax({
                            type: "POST",
                            url: '/Home/saveDataInRedis',
                            data: { 'senderName': senderName, 'receiverName': receiverName, 'msginput': msginput },
                            success: function (data) {
                                // alert(msg);
                                if (data.status == true) {
                                    alert("Data save in Redis Db successfully");
                                }
                            }
                         });

                    });
                });
            });
        });
    </script>
}
